body{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
    min-height: 100vh;
}
p{
    font-size: 18px;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:600px;
    box-shadow:1px 1px 7px 2px rgb(0,0,0,0.4);
    border-radius: 5%;
}

.left{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 5%;
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:hsl(241, 100%, 89%);
    padding:25px;
    text-align:center;

}
.left-title{
    color: hsl(241, 100%, 89%);
}
.score-circle{
 background-image: linear-gradient(hsla(256, 72%, 46%, 1) ,hsla(241, 72%, 46%, 0));
   border-radius: 100%;
   height:74px;
   width:74px;
   display:flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   padding:50px;

}
.score{
    font-weight: 900;
    font-size: 3rem;
    color:white;
    margin-top: 50px;
    margin-bottom: 0;
}

.remarks{
    color:white;
}
.overall{
    position: relative;
  
}

.right{
    display:flex;
    flex-direction: column;
    width:50%;
    padding:20px;
    gap:20px;

}
.title{
    margin-top:10px;
    font-weight: 700;
}
.points-box{
display:flex;
flex-direction: row;
justify-content: space-between;
padding:10px;
border-radius: 5px;
}
.area{
    display: flex;
    align-items: center;
}
img{
    margin-right: 10px;
}
.button{
    background:#36415E;
    padding:15px 30px;
    margin-top:30px;
    color:white;
    border-radius: 50px;
    border:none;
}
.button:hover{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}


.Reaction{
    color:hsl(0, 100%, 67%);
    background-color:hsla(0, 100%, 67%,0.1);
}
.Memory{
    color:hsl(39, 100%, 56%);
    background-color:hsla(39, 100%, 56%,0.1);    
}
.Verbal{
    color:hsl(166, 100%, 37%);
    background-color:hsla(166, 100%, 37%,0.1) ;    
}
.Visual{
    color:hsl(234, 85%, 45%);
    background-color:hsla(234, 85%, 45%,0.1);    
}
@media (max-width: 760px){
    body{
        padding:0;
        margin:0;
    }
    .container{
        flex-direction:column;
        box-shadow: none;
        border-radius: 0;
        overflow:hidden;
        width:100%;
        padding-top:0px;
    }
    .left{
        border-top-left-radius:0;
        border-top-right-radius:0;
        border-bottom-right-radius:50px;
        border-bottom-left-radius:50px;
        width:100%;
        padding:20px;
    }
    .right{
        width:80%;
        padding:0px;
        margin:10px auto;
    }
}
